5. Disneyland Prediction Model

In [1]:
#Import Dependencies
import pandas as pd
import numpy as np
import requests
import io
import os
from sklearn import datasets, ensemble
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [2]:
#Open CSV File
input_data = pd.read_csv(os.path.join('Resources', 'final_dl-2020_data.csv'))

#Print DataFrame
input_data.head()

,Year,Temperature Max,Hours Open,Public Holiday,School Holiday,Day of the Week,Day of the Year,Crowd Size,Crowd Level
0,2019,13,9,1,1,2,365,63,6
1,2019,7,14,0,1,1,364,57,5
2,2019,11,14,0,1,7,363,40,3
3,2019,10,14,0,1,6,362,33,3
4,2019,14,14,0,1,5,361,34,3

In [3]:
#Drop Unnecessary Columns
cols = [column for column in input_data.columns if column not in ['Year','Crowd Size']]
data = input_data[cols]

#Assign for Target
target = input_data['Crowd Size']

#Print DataFrame
data.head(n=2)

,Temperature Max,Hours Open,Public Holiday,School Holiday,Day of the Week,Day of the Year,Crowd Level
0,13,9,1,1,2,365,6
1,7,14,0,1,1,364,5

In [4]:
#Scale Data
scaler = StandardScaler()
new_data = scaler.fit_transform(data)

In [5]:
#Split Dataset to Begin Test/Train
data_train, data_test, target_train, target_test = train_test_split(new_data, target, test_size = 0.25, random_state = 1)

In [6]:
#Fit into RandomForestRegressor
regr = RandomForestRegressor(random_state=0)
regr.fit(data_train, target_train)

RandomForestRegressor(random_state=0)

In [7]:
#Run RandomForestRegressor
prediction = regr.predict(data_test)

In [8]:
#Run Target Test
target_test

1374    63
885     38
414     56
1003    57
201     21
        ..
35      27
1430    42
503     52
702     42
599     30
Name: Crowd Size, Length: 366, dtype: int64

In [9]:
#Run Prediction
prediction

array([66.69, 37.94, 52.4 , 57.87, 26.04, 46.62, 22.13, 64.21, 32.89,
       61.91, 25.05, 37.69, 25.57, 32.73, 27.05, 23.26, 55.95, 65.27,
       22.07, 66.13, 53.76, 22.64, 32.71, 24.87, 55.  , 46.12, 37.86,
       65.69, 46.01, 36.43, 25.73, 44.96, 46.77, 33.73, 29.63, 22.88,
       32.95, 22.73, 26.99, 44.37, 24.7 , 36.67, 55.55, 57.4 , 46.04,
       29.99, 26.12, 55.43, 24.87, 46.96, 36.  , 62.13, 55.07, 43.87,
       57.29, 58.08, 43.56, 27.08, 56.39, 33.71, 22.55, 32.86, 36.39,
       32.56, 26.99, 44.59, 54.43, 36.73, 37.81, 43.17, 35.33, 27.46,
       21.48, 34.34, 57.97, 37.08, 35.28, 67.67, 33.11, 47.49, 36.42,
       24.19, 54.89, 57.64, 36.92, 20.47, 37.18, 36.89, 27.26, 36.91,
       36.13, 57.6 , 27.13, 28.78, 69.81, 58.19, 25.81, 54.72, 52.87,
       46.55, 56.74, 26.99, 27.01, 26.57, 47.54, 38.08, 29.32, 46.47,
       32.42, 64.67, 66.48, 34.74, 35.24, 38.44, 44.37, 56.3 , 56.83,
       32.31, 36.84, 32.68, 26.52, 46.46, 56.06, 57.41, 26.77, 45.48,
       28.85, 46.03, 27.26, 32.  , 29.58, 35.99, 66.79, 56.58, 44.2 ,
       26.75, 22.21, 48.45, 35.07, 65.68, 67.07, 42.48, 54.44, 35.4 ,
       58.25, 31.93, 66.82, 43.19, 49.64, 69.23, 35.37, 44.22, 39.36,
       36.32, 38.11, 26.14, 43.96, 36.82, 29.88, 55.04, 33.74, 36.62,
       36.69, 26.35, 39.37, 22.  , 25.72, 58.02, 45.74, 28.23, 56.83,
       26.74, 48.42, 32.8 , 27.28, 29.48, 53.79, 63.59, 37.39, 47.17,
       42.39, 56.06, 24.77, 48.28, 37.43, 19.56, 57.84, 32.68, 65.44,
       36.78, 28.87, 47.05, 57.61, 32.21, 22.36, 37.15, 22.16, 24.97,
       55.13, 57.33, 36.87, 37.63, 46.91, 48.92, 35.17, 56.4 , 54.97,
       57.98, 35.82, 35.54, 22.25, 29.14, 28.51, 55.74, 68.59, 45.77,
       34.07, 45.99, 23.23, 55.14, 66.11, 36.55, 42.81, 28.19, 37.13,
       33.67, 57.32, 69.34, 26.96, 22.96, 65.35, 37.16, 56.78, 25.02,
       22.19, 37.85, 55.36, 54.54, 37.81, 23.33, 27.29, 67.65, 36.06,
       44.53, 23.32, 25.73, 38.34, 45.6 , 47.59, 36.94, 46.24, 46.12,
       56.37, 26.18, 56.98, 42.96, 54.24, 57.14, 32.42, 24.32, 37.45,
       37.82, 45.97, 37.6 , 37.94, 34.13, 35.4 , 38.03, 45.82, 36.04,
       33.24, 35.88, 29.92, 54.78, 25.07, 57.7 , 58.01, 33.03, 26.27,
       26.51, 36.  , 57.4 , 65.78, 35.4 , 37.53, 55.56, 54.85, 47.38,
       36.96, 36.59, 47.14, 35.36, 44.34, 59.02, 27.99, 43.31, 65.72,
       56.28, 42.53, 46.  , 47.08, 36.78, 26.94, 55.38, 22.02, 46.72,
       26.99, 57.73, 23.21, 47.81, 42.91, 25.93, 69.41, 48.07, 37.26,
       30.  , 25.22, 34.9 , 32.9 , 46.03, 32.84, 47.02, 32.07, 34.59,
       44.29, 25.88, 42.8 , 56.37, 19.64, 33.79, 38.1 , 32.88, 33.71,
       45.98, 57.91, 26.97, 56.58, 35.21, 45.98, 27.41, 37.76, 35.51,
       33.34, 42.93, 43.55, 62.06, 32.28, 37.45, 31.69, 33.54, 69.78,
       64.63, 54.37, 37.81, 36.67, 25.79, 37.34, 47.23, 32.8 , 36.21,
       48.22, 26.94, 42.03, 57.38, 43.52, 27.05])

In [10]:
#Print Mean Squared Error
mean_squared_error(target_test, prediction)

7.521150273224044

In [11]:
#Print Mean Absolute Error
mean_absolute_error(target_test, prediction)

1.9560655737704917

In [12]:
#Save as DataFrame
dl_predictions21 = pd.DataFrame(prediction, columns=["Crowd Size"])

In [102]:
#Save as CSV File
dl_predictions21.to_csv(r'C:\Users\Mickey\Desktop\Final_Project\Output\dl_predictions21.csv', index = False)