5. Disneysea Prediction Model

In [1]:
#Import Dependencies
import pandas as pd
import numpy as np
import requests
import io
import os
from sklearn import datasets, ensemble
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [2]:
#Open CSV File
input_data = pd.read_csv(os.path.join('Resources', 'final_ds-2020_data.csv'))

#Print DataFrame
input_data.head()

,Year,Temperature Max,Hours Open,Public Holiday,School Holiday,Day of the Week,Day of the Year,Crowd Size,Crowd Level
0,2019,13,9,1,1,2,365,40,3
1,2019,7,14,0,1,1,364,41,4
2,2019,11,14,0,1,7,363,28,2
3,2019,10,14,0,1,6,362,29,2
4,2019,14,14,0,1,5,361,28,2

In [3]:
#Drop Unnecessary Columns
cols = [column for column in input_data.columns if column not in ['Year','Crowd Size']]
data = input_data[cols]

#Assign for Target
target = input_data['Crowd Size']

#Print DataFrame
data.head(n=2)

,Temperature Max,Hours Open,Public Holiday,School Holiday,Day of the Week,Day of the Year,Crowd Level
0,13,9,1,1,2,365,3
1,7,14,0,1,1,364,4

In [4]:
#Scale Data
scaler = StandardScaler()
new_data = scaler.fit_transform(data)

In [5]:
#Split Dataset to Begin Test/Train
data_train, data_test, target_train, target_test = train_test_split(new_data, target, test_size = 0.25, random_state = 1)

In [6]:
#Fit into RandomForestRegressor
regr = RandomForestRegressor(random_state=0)
regr.fit(data_train, target_train)

RandomForestRegressor(random_state=0)

In [7]:
#Run RandomForestRegressor
prediction = regr.predict(data_test)

In [8]:
#Run Target Test
target_test

1374    47
885     26
414     43
1003    40
201     18
        ..
35      22
1430    30
503     37
702     29
599     24
Name: Crowd Size, Length: 366, dtype: int64

In [9]:
#Run Prediction
prediction

array([44.98, 26.26, 46.12, 37.83, 16.83, 37.09, 23.66, 44.05, 23.41,
       54.45, 16.12, 33.53, 17.73, 22.34, 22.1 , 14.25, 36.11, 51.71,
       16.54, 52.2 , 36.47, 19.34, 24.98, 13.81, 38.5 , 32.48, 34.03,
       45.06, 36.85, 24.78, 25.89, 27.45, 24.69, 17.  , 14.17, 13.94,
       23.57, 16.66, 23.68, 32.04, 16.6 , 34.69, 55.07, 42.77, 36.44,
       17.98, 24.24, 32.45, 15.21, 33.16, 36.01, 44.48, 38.93, 33.09,
       32.29, 44.18, 34.52, 22.46, 45.  , 24.02, 16.32, 23.9 , 26.75,
       32.79, 21.98, 39.5 , 44.04, 23.7 , 26.72, 34.9 , 25.69, 18.53,
       22.91, 24.76, 44.61, 26.47, 27.31, 46.93, 32.8 , 36.06, 18.94,
       15.01, 43.51, 43.4 , 25.75, 17.82, 36.23, 24.06, 16.77, 44.23,
       25.49, 32.67, 26.31, 35.99, 55.29, 31.59, 15.04, 35.53, 37.71,
       33.96, 46.36, 18.47, 16.09, 22.08, 27.26, 24.17, 23.83, 25.85,
       24.08, 46.01, 52.16, 44.48, 16.82, 27.82, 31.93, 32.64, 33.61,
       25.08, 17.6 , 25.09, 24.85, 37.  , 44.35, 35.23, 26.58, 33.52,
       17.09, 44.98, 23.48, 24.07, 25.55, 24.32, 46.94, 46.33, 33.86,
       14.32, 16.88, 37.53, 27.05, 52.79, 46.82, 35.58, 46.5 , 26.95,
       32.92, 24.8 , 46.61, 27.56, 36.22, 53.62, 33.09, 33.45, 35.41,
       26.4 , 34.36, 13.91, 32.45, 26.22, 25.84, 38.78, 27.69, 28.88,
       36.97, 18.62, 28.76, 24.33, 14.7 , 42.05, 34.28, 15.09, 44.12,
       16.52, 36.98, 24.8 , 33.28, 23.61, 45.15, 46.3 , 25.98, 33.47,
       42.8 , 45.25, 15.16, 34.98, 37.01, 16.09, 36.88, 25.43, 54.72,
       21.98, 14.34, 37.87, 33.46, 26.06, 13.03, 24.48, 17.3 , 15.65,
       53.6 , 36.99, 32.22, 26.85, 36.97, 37.71, 23.59, 32.39, 46.08,
       35.69, 32.23, 34.05, 14.23, 32.12, 27.39, 44.07, 52.87, 34.82,
       32.21, 35.16, 16.29, 37.74, 46.71, 24.37, 27.8 , 24.44, 26.21,
       17.02, 35.31, 54.99, 23.36, 13.49, 55.1 , 27.59, 46.33, 12.48,
       16.86, 33.91, 38.25, 45.58, 26.54, 14.56, 17.15, 46.08, 33.16,
       34.07, 14.36, 14.08, 36.54, 26.03, 34.21, 32.38, 36.01, 32.18,
       32.25, 27.35, 32.96, 35.58, 37.49, 46.54, 26.01, 13.21, 26.17,
       33.76, 32.33, 25.92, 26.3 , 33.64, 15.23, 25.19, 25.89, 26.24,
       18.19, 17.16, 16.9 , 46.55, 17.85, 32.87, 31.87, 28.41, 23.65,
       22.65, 26.05, 44.67, 48.73, 21.86, 32.39, 37.33, 44.17, 37.54,
       27.22, 32.83, 34.39, 17.4 , 34.29, 35.54, 16.46, 26.35, 45.12,
       54.16, 29.7 , 36.33, 35.41, 27.54, 18.11, 46.09, 16.35, 33.6 ,
       21.67, 47.76, 14.97, 37.17, 37.04, 27.07, 46.94, 35.08, 28.57,
       17.29, 14.59, 28.13, 26.1 , 32.14, 24.24, 34.69, 17.94, 25.77,
       31.47, 17.19, 27.1 , 45.97, 24.61, 33.06, 24.62, 26.37, 32.35,
       36.42, 31.31, 22.92, 36.63, 23.93, 34.39, 23.57, 26.58, 26.59,
       34.22, 37.41, 44.02, 46.35, 24.02, 37.53, 26.49, 25.08, 47.19,
       46.13, 35.55, 32.34, 17.42, 23.61, 26.06, 36.26, 24.9 , 33.27,
       36.53, 23.3 , 28.79, 36.77, 29.16, 23.44])

In [10]:
#Print Mean Squared Error
mean_squared_error(target_test, prediction)

6.952334972677596

In [11]:
#Print Mean Absolute Error
mean_absolute_error(target_test, prediction)

1.9953005464480873

In [12]:
#Save as DataFrame
ds_predictions21 = pd.DataFrame(prediction, columns=["Crowd Size"])

In [14]:
#Save as CSV File
ds_predictions21.to_csv(r'C:\Users\Mickey\Desktop\Final_Project\Output\ds_predictions21.csv', index = False)