#Prediction Model for Crowd Size [Disneyland]

In [1]:
#Import Dependencies
import pandas as pd
import numpy as np
import requests
import io
import os
from sklearn import datasets, ensemble
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
#Open CSV File
input_data = pd.read_csv(os.path.join('Resources', 'final_dl_data.csv'))

#Print DataFrame
input_data.head(n=2)

,Year,Crowd Size,Temperature Max,Hours Open,Public Holiday,School Holiday,Day of the Week,Day of the Year,Crowd Level
0,2020,16,8,12,1,1,4,366,Vacant
1,2020,16,12,12,0,1,3,365,Vacant

In [3]:
#Drop Unnecessary Columns
cols = [column for column in input_data.columns if column not in ['Crowd Level', 'Crowd Size', 'Year', 'Day of the Year']]
data = input_data[cols]

#Assign for Target
target = input_data['Crowd Size']

#Print DataFrame
data.head(n=2)

,Temperature Max,Hours Open,Public Holiday,School Holiday,Day of the Week
0,8,12,1,1,4
1,12,12,0,1,3

In [4]:
#Split Dataset to begin Test/Train
data_train, data_test, target_train, target_test = train_test_split(data, target, test_size = 0.10, random_state = 1)

In [5]:
#Increase Max Iter
classifier = LogisticRegression(max_iter = 10000)
classifier.fit(data_train, target_train)

LogisticRegression(max_iter=10000)

In [6]:
#Print Results
print(f"Training Data Score: {classifier.score(data_train, target_train)}")
print(f"Testing Data Score: {classifier.score(data_test, target_test)}")

Training Data Score: 0.27433090024330903
Testing Data Score: 0.2677595628415301

In [7]:
#Print Results
predictions = classifier.predict(data_test)
print(f"First 25 Predictions: {predictions[:25]}")
print(f"First 25 Actual Test Data: {target_test[:25].tolist()}")

First 25 Predictions: [ 0 44 16 16  0 38 36 27 16 16 36 38 30 44 46 27 16 22 27 16 55 22 58 44
 22]
First 25 Actual Test Data: [0, 37, 28, 16, 0, 63, 30, 33, 22, 22, 22, 45, 26, 42, 33, 26, 16, 22, 27, 16, 16, 37, 58, 69, 27]

In [8]:
#Open CSV File
input_data = pd.read_csv(os.path.join('future_dl_data.csv'))

#Print DataFrame
input_data.head(n=2)

,Date,Crowd Size,Temperature Max,Temperature Min,Hours Open,Public Holiday,School Holiday,Day of the Week,Day of the Year,Crowd Level
0,1/01/2021,10000,11,-1,9,1,1,5,1,Vacant
1,2/01/2021,50000,11,0,14,1,1,6,2,Busy

In [9]:
#Drop Unnecessary Columns
cols = [column for column in input_data.columns if column not in ['Crowd Level', 'Temperature Min', 'Date', 'Crowd Size', 'Year', 'Day of the Year']]
data = input_data[cols]

#Print DataFrame
data.head(n=2)

,Temperature Max,Hours Open,Public Holiday,School Holiday,Day of the Week
0,11,9,1,1,5
1,11,14,1,1,6

In [10]:
#Print Results
predictions = classifier.predict(data)
print(f"First 365 Predictions:   {predictions[:365]}")

First 365 Predictions:   [16 58 58 40 40 50 46 55 55 55 30 27 27 27 27 16 55 36 36 27 27 27 27 27
 36 36 27 27 27 27 55 36 22 27 27 27 27 55 36 27 27 27 27 55 55 36 36 36
 27 27 55 44 36 22 27 27 27 55 55 36 36 27 27 27 55 55 36 27 27 27 55 27
 55 36 27 27 27 55 55 58  0 27 27 27 16 16 46 46 30 46 46 16 46 58 46 46
 46 16 16 46 46 46 22 22 22 16 44 44 36 22 22 16 16 16 44 36 22 22 16 16
 16 58 36 36 44 44 44 44 44 36 36 36 36 44 44 44 36 36 36 36 44 44 44 36
 36 36 38 44 44 44 36 36 36 36 44 44 44 36 22 22 16 16 16 44 36 22 22 16
 16 44 44 36 22 22 16 16 16 44 36 22 22 16 16 16 44 36 22 16 16 16 16 44
 38 22 16 16 16 16 44 38 16 16 16 16 16 46 46 16 16 16 16 16 46 46 16 16
 16 16 46 46 38 16 16 16 16 46 46 46 16 16 16 16 16 46 46 16 16 16 16 46
 46 46 46 38 38 44 44 44 36 22 16 16 16 16 44 36 22 16 16 16 16 44 36 22
 16 16 16 16 44 36 36 36 36 44 44 44 36 36 36 36 44 44 44 36 36 36 44 44
 44 44 36 36 36 36 58 44 44 36 36 36 36 44 55 55 36 36 27 27 27 33 55 36
 36 36 27 27 33 55 36 27 27 27 27 55 55 36 27 27 27 27 27 55 36 27 27 27
 55 27 55 36 16 16 16 16 16 55 36 16 16 16 16 16 55 36 36 27 55 16 16 58
 40 40 40 50 16]

In [11]:
#Save as DataFrame
dl_predictions21 = pd.DataFrame(predictions, columns=["Crowd Size"])

In [12]:
#Save as CSV File
#dl_predictions21.to_csv(r'C:\Users\Mickey\Desktop\Final_Project\Output\dl_predictions21.csv', index = False)