#Prediction Model for Crowd Size [Disneysea]

In [1]:
#Import Dependencies
import pandas as pd
import numpy as np
import requests
import io
import os
from sklearn import datasets, ensemble
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [9]:
#Open CSV File
input_data = pd.read_csv(os.path.join('Resources', 'final_ds_data.csv'))

#Print DataFrame
input_data.head(n=2)

,Year,Crowd Size,Temperature Max,Hours Open,Public Holiday,School Holiday,Day of the Week,Day of the Year,Crowd Level
0,2020,16,8,12,1,1,4,366,Vacant
1,2020,16,12,12,0,1,3,365,Vacant

In [10]:
#Drop Unnecessary Columns
cols = [column for column in input_data.columns if column not in ['Crowd Level', 'Crowd Size', 'Year', 'Day of the Year']]
data = input_data[cols]

#Assign for Target
target = input_data['Crowd Size']

#Print DataFrame
data.head(n=2)

,Temperature Max,Hours Open,Public Holiday,School Holiday,Day of the Week
0,8,12,1,1,4
1,12,12,0,1,3

In [11]:
#Split Dataset to begin Test/Train
data_train, data_test, target_train, target_test = train_test_split(data, target, test_size = 0.10, random_state = 1)

In [12]:
#Increase Max Iter
classifier = LogisticRegression(max_iter = 10000)
classifier.fit(data_train, target_train)

LogisticRegression(max_iter=10000)

In [13]:
#Print Results
print(f"Training Data Score: {classifier.score(data_train, target_train)}")
print(f"Testing Data Score: {classifier.score(data_test, target_test)}")

Training Data Score: 0.2475669099756691
Testing Data Score: 0.25136612021857924

In [14]:
#Print Results
predictions = classifier.predict(data_test)
print(f"First 25 Predictions: {predictions[:25]}")
print(f"First 25 Actual Test Data: {target_test[:25].tolist()}")

First 25 Predictions: [ 0 32 16 16  0 40 32 16 16 32 22 32 22 32 32 22 16 16 36 16 39 16 47 32
 16]
First 25 Actual Test Data: [0, 17, 13, 13, 0, 51, 16, 20, 18, 18, 16, 25, 12, 23, 23, 22, 16, 18, 22, 16, 31, 28, 42, 50, 21]

In [17]:
#Open CSV File
input_data = pd.read_csv(os.path.join('future_ds_data.csv'))

#Print DataFrame
input_data.head(n=2)

,Date,Temperature Max,Temperature Min,Hours Open,Public Holiday,School Holiday,Day of the Week,Day of the Year,Crowd Level,Crowd Size
0,1/01/2021,11,-1,9,1,1,5,1,NaN,NaN
1,2/01/2021,11,0,14,1,1,6,2,NaN,NaN

In [18]:
#Drop Unnecessary Columns
cols = [column for column in input_data.columns if column not in ['Crowd Level', 'Temperature Min', 'Date', 'Crowd Size', 'Year', 'Day of the Year']]
data = input_data[cols]

#Print DataFrame
data.head(n=2)

,Temperature Max,Hours Open,Public Holiday,School Holiday,Day of the Week
0,11,9,1,1,5
1,11,14,1,1,6

In [19]:
#Print Results
predictions = classifier.predict(data)
print(f"First 365 Predictions:   {predictions[:365]}")

First 365 Predictions:   [16 47 47 40 40 40 40 39 39 47 22 22 22 37 22 16 47 22 22 22 22 16 22 37
 22 22 22 22 22 37 39 22 22 22 22 22 16 39 22 22 22 37 22 39 31 22 22 36
 22 22 39 31 30 22 22 22 22 39 39 22 22 22 22 22 39 39 22 22 22 22 39 22
 39 22 22 22 16 39 39 47  0 22 22 22 16 16 32 32 27 16 27 27 40 40 40 16
 16 16 16 32 32 32 16 16 16 16 32 31 30 16 16 16 16 16 31 30 16 16 16 16
 16 45 40 45 45 45 32 32 32 32 32 32 32 32 32 32 30 32 32 32 32 32 32 30
 32 32 32 32 32 32 32 32 32 32 32 32 32 32 16 16 16 16 16 32 30 16 16 16
 16 32 32 30 16 16 16 16 16 32 32 16 16 16 16 16 32 32 16 16 16 16 16 32
 32 16 16 16 16 16 32 16 16 16 16 16 16 32 26 16 16 16 16 16 32 26 16 16
 16 16 32 32 26 16 16 16 16 32 32 26 16 16 16 16 16 32 26 16 16 16 16 32
 32 26 26 32 32 32 32 32 32 16 16 16 16 16 32 32 16 16 16 16 16 32 32 16
 16 16 16 16 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 30 32 32 45 32
 32 31 30 30 32 32 45 32 31 30 30 32 32 32 31 31 30 30 16 37 16 16 39 30
 22 22 16 16 16 39 30 22 22 22 16 39 39 22 37 22 22 22 22 39 22 22 22 22
 39 22 39 22 16 16 16 16 16 39 22 16 16 16 16 16 39 22 22 22 39 16 16 47
 40 40 40 40 37]

In [20]:
#Save as DataFrame
ds_predictions21 = pd.DataFrame(predictions, columns=["Crowd Size"])

In [21]:
#Save as CSV File
#ds_predictions21.to_csv(r'C:\Users\Mickey\Desktop\Final_Project\Output\ds_predictions21.csv', index = False)